@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Poppins, arial, san-serif;
}

header {
    padding: 15px 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

ul > li {
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
}

header > button {
    width: 75px;
    height: 31px;
    background-color: #D01C28;
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    padding: 6px 16px;
    gap: 10px;
    font-size: 16px;
    margin-top: 21px;
}